body {
  padding-top: 75px;
  background-color: rgb(246, 242, 250);
  width: auto;
}

.question-hearder {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  background-color: rgb(54, 31, 77);
  height: 60px;
  display: flex;
  align-items: center;
}

.question-hearder span {
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  position: absolute;
  left: 20px;
}
.question-hearder button {
  position: absolute;
  right: 10px;
  top: 7px;
}

.back-lobby {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.go-answer {
  color: rgb(110, 36, 110);
  font-weight: bold;
  margin-top: 15px;
  font-size: 2em;
  width: 200px;
  height: 50px;
  border: 0px;
  background-color: white;
  border: 3px solid purple;
  box-shadow: 5px 5px 10px -6px rgb(170, 168, 168);
}

#question-field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question-column {
  margin: 5px;
  padding: 20px;
  width: 80%;
  background-color: white;
}
.question-column__number {
  display: flex;
  width: 30px;
  height: 30px;
  font-size: 25px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  color: purple;
  font-weight: bolder;
  margin-bottom: 20px;
}
.question-column__image {
  align-items: center;
  max-width: 100%;
  max-height: 600px;
  margin-bottom: 10px;
}

.question-column__answerform {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question-column__answerform__radio {
  margin-bottom: 20px;
}
.question-column__answerform__radio span {
  font-size: 1em;
  font-weight: bolder;
  color: rgb(77, 26, 126);
  padding-right: 20px;
}
.question-column__answerform__partname,
.question-column__answerform__partname input {
  font-size: 1em;
  font-weight: bolder;
  color: rgb(77, 26, 126);
}
.bottom-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
}

.test-quiz-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quiz__ex-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.quiz__image {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 10px;
}
.answer-select {
  width: 50%;
  margin-bottom: 50px;
}

.quiz__explanation {
  margin: 20px;
  font-weight: bolder;
}
